﻿@model havenix.Models.User

<div class="auth-box">

    <h2>Đăng ký</h2>

    @using (Html.BeginForm())
    {
        <input name="FullName"
               placeholder="Họ và tên"
               class="form-control" />

        <input name="Email"
               placeholder="Email"
               class="form-control" />

        <input name="Phone"
               placeholder="Số điện thoại"
               class="form-control" />

        <select name="Gender"
                class="form-control">
            <option>Nam</option>
            <option>Nữ</option>
            <option>Khác</option>
        </select>

        <input type="text"
               name="BirthDate"
               class="form-control"
               placeholder="dd/mm/yyyy"
               oninput="formatDate(this)" />

        <input type="password"
               name="Password"
               placeholder="Mật khẩu"
               class="form-control" />

        <input type="password"
               name="confirmPassword"
               placeholder="Nhập lại mật khẩu"
               class="form-control" />

        <button type="submit"
                class="btn btn-warning">
            Đăng ký
        </button>

        <p style="color:red; margin-top:10px;">
            @ViewBag.Error
        </p>

        <div class="auth-links">
            <a href="/Account/Login">
                Đã có tài khoản? Đăng nhập
            </a>
        </div>
    }

</div>

<script>
    function formatDate(input) {

        let value = input.value.replace(/\D/g, '');

        if (value.length > 2 && value.length <= 4)
            value = value.slice(0, 2) + '/' + value.slice(2);

        else if (value.length > 4)
            value = value.slice(0, 2) + '/' + value.slice(2, 4) + '/' + value.slice(4, 8);

        input.value = value;
    }
</script>